/* PORTFOLIO PAGE */

/* FILTER SECTION */

.section .category-flex {
  padding-top: 0;
}

.filter-section-flex {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.last {
  margin-right: 0;
}

.filter-section-button button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-section-button button:hover,
.filter-section-button button:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #fff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.category-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  gap: 27px;
}
.category-section li {
  background: #ffffff;
}
.category-section li p {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-left: 24px;
}
.category-section li em {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  margin-left: 24px;
}

.category-flex li {
  border: 1px solid #eeeeee;
}

.category-flex li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.category-flex li:hover .portfolio-overlay {
  top: 0;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
  padding: 0;
}
.portfolio-overlay {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  transition-property: top, right, buttom, left;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  top: 100%;

  background: rgba(33, 150, 243, 0.9);
}

.portfolio-thumb .text {
  margin-top: 63px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 91px;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--label-color);
}
